---
language: ruby
cache: bundler
sudo: false
script: bundle exec rake travis
before_install:
  - gem update bundler
  - gem update --system
rvm:
  - 2.1
  - 2.2
branches:
  only:
    - master
matrix:
  fast_finish: true
addons:
    code_climate:
        repo_token: edc557717ef934f7516ee7cc6ef1e47302f3b63f6106580200a5875681649764